<!-- Simple Calculator Design -->
<!-- Make grid   -->
<div class="calculator-container">
  <div class="main-container">
    <div class="input">
      <input type="text" class="input-field">
    </div>
    <div class="number-and-actions">
      <div class="grid">
        <button class="numbers-btn" *ngFor="let number of numbers">
          <span>{{number}}</span>
        </button>
      </div>

      <div class="actions">
        <button *ngFor="let action of actions" class="action-btn" >
          <span>{{action}}</span>
        </button>
      </div>
      <div class="zero">
        <button class="zero-btn">0</button>
      </div>
    </div>
  </div>
</div>
